<h3>Bonjour Justine,</h3>

<p>Vous avez reçus un nouveau commentaire sur l'article : <b>{{ article }}</b></p>

<p>Rendez-vous sur la page Admin en <a href="https://www.lafolleagence.com/admin">Cliquant ici</a>.</p>

<p><b>Nom : </b>{{ name }} </p>
<p><b>Adresse email :</b> {{ emailname }} </p>
<p><b>Titre : </b>{{ title }} </p>
<p><b>Commentaire :</b><p>

<p>{{ commentContent }}</p>

<br>
<br>
<br>
<p>Cordialement,</p>