{# app/Resources/views/security/login.html.twig #}
{# ... you will probably extend your base template, like base.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <!--FONT-->
        <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500" rel="stylesheet">
        <!--CSS BOOTSTRAP-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!--OUR CSS-->
        <link rel="stylesheet" href="{{ asset('css/login_page.css') }}">
        <title>{% block title %}La Folle Agence | Connexion{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
    <body>
        <div class = "container">
            <div class="wrapper">
                <form name="Login_Form" class="form-signin" action="{{ path('login') }}" method="post">
                    <img src="{{ asset ('images/logo-lafolleagence-web.png') }}">
                    <h1 class="form-signin-heading">Bienvenue dans l'univers de la Folle Agence ! Connecte-toi.</h1>
                    <hr class="colorgraph"><br>

                    <input type="text" id="username" name="_username" value="{{ last_username }}"  class="form-control" placeholder="Username" required="" autofocus="" />
                    <input type="password" id="password" name="_password" class="form-control"  placeholder="Password" required=""/>

                    <button class="btn btn-lg btn-primary btn-block"  name="Submit" value="Login" type="submit">Continuer</button>
                </form>
            </div>
        </div>
    </body>
</html>
